div(class="row text-center")
	form#search-form(class="form-inline", method="post", action="/")
		input(class="form-control search-field", type='text', placeholder='Find a movie', class='form-control input-lg', name='movieSearch')
		input(type='checkbox', class='checkbox', value='subtitle', name='subtitle')
		button(type="submit" class="btn btn-default btn-lg") Search

