.background {
	background-image: url("../img/background.jpg");
	background-color: black;
}

.head {
	padding-top: 100px;
	padding-bottom: 40px;
	text-align: center;
}

.header {
	height: 100px;
	line-height: 200px;

	text-align: center;

.search-field {
	width: 50%;
}

.font-1 {
	font-size:6rem;
	font-weight:700;
	text-shadow:0 1px 2px rgba(0,0,0,0.5);
	font-family:'Lato', sans-serif;
	margin:0;
	paddding:0
}

.test-wrapper {
	position:relative;
	top:40%;
	-webkit-transform:translateY(-40%);
	-ms-transform:translateY(-40%);
	transform:translateY(-40%)
}

.test-background {
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	text-align:center;
	height:100%;
	margin:0;
	padding:0;
	background-color:black;
	background-image:url('img/background.jpg');
	no-repeat fixed center center/cover #000;
	color:white
}