extends layout

block body
	.row
		include partials/_search
		br
	.row
		if movies
			table.table
				thead
					each movie in movies.Search
						tr
							td
								a(href='movie/#{movie.imdbID}', name='#{movie.imdbID}')= movie.Title
		if movieId
			h1 movieId
		if movieArray
			h1= movieArray
			