extends layout

block body
	.row
		a(style="margin-top:1rem;text-decoration:none", href="#{image}")
			object(style="height:40px", type="image/svg+xml",data="img/IMDb_logo.svg")
		br
		include partials/_search
		br
	.row
		if movies
			table.table
				thead
					each movie in movies.Search
						tr
							td
								a(href='movie/#{movie.imdbID}', name='#{movie.imdbID}')= movie.Title
		if movieId
			h1 movieId
			